@charset "UTF-8";

//header

*{
	font-family: 'Manrope';
}
        li{
            list-style: none;
        }
        .navbar-links{
            text-decoration: none;
            color: #efefef;
            font-size: 1rem;
        }
        .navbar-links:hover{
            color: #ffc249;
        }

        header{
            position: relative;
            padding: 0 2rem;
        }
        .navbar{
            width: 100%;
            height: 60px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navbar .logo a{
            font-size: 1.5rem;
            font-weight:bold;

        }
        .navbar .links{
            display: flex;
            gap: 2rem;
            margin: 0;
        }
        .navbar .toggle_btn{
            color: #efefef;
            font-size: 1.5rem;
            cursor: pointer;
            display: none;
        }
        .action_btn{
            color: #ffc249;

        }
        .action_btn:hover{
            scale:1.05;
            color:#efefef;
        }
        .action_btn:active{
            scale: 0.95;
        }
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* dropdown */
        .dropdown_menu{
            display: none;
            position:absolute;
            right: 2rem;
            top: 60px;
            width: 300px;
            height: 0;
            background: rgba(255,255,255, 0.1);
            backdrop-filter: blur(15px);
            border-radius: 20px;
            overflow: hidden;
            transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .dropdown_menu.open{
            height: 445px;
        }
        .dropdown_menu li{
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .dropdown_menu .action_btn{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        /*  responsive */
        @media (max-width: 992px) {
            .navbar .links, .navbar .action_btn, .searchField{
                display: none;
            }

            .navbar .toggle_btn{
                display: block;
            }
            
            .dropdown_menu{
                display: block;
            }
        }
        @media (max-width: 576px){
            .dropdown_menu{
                left: 2rem;
                width: unset;
            }
        }
        
        
        
        
        //Car management
        .tablehead{
            font-size: 14px;
            color: #FFD369;
            text-align: center;
        }
        .tdCarmanage{
            font-size: 14px;
        }
        .carManagementHead{
            font-size: 40px;
            font-weight: 700;
            letter-spacing: 1;
        }
        .jumbotron{
        background-image: url('/images/carManage.png');
        background-size: 100%;
        height: 60%;
        background-repeat: no-repeat;
        background-position: center;
        }
        .jumbotroncont{
            display: flex;
            flex-direction: column;
            align-items:center;
            /* position: absolute; */
            /* bottom:0; */
            /* top:300; */
            /* left: */
            /* margin-top: 100px; */
            /* justify-content: center; */
            
        }
        .jumbotronhead{
            color:#efefef;
            font-size:9rem;
            font-weight: 700;
            margin-top: 20%;
            text-align: center;
        }
        /* .containerCarManage{
            display: flex;
            justify-content: center;
            align-items: end
            
        } */
        .outerCont{
            /* background-color: #121212; */
            padding-top: 3%;

        }
        .carManageTable{
            background-color: rgba(239,239,239,0.8) ;
        }
        .theadrow{
            background-color: #121212;
        }
        .editBtn, .setBtn{
            background-color: #FFD369;
            padding-inline: 20px;
            font-weight: 600;
        }


        /* @media screen and (max-width:1024px){
            .jumbotronhead{
                color:#efefef;
                font-size:6rem;
                font-weight: 700;
                margin-top: 25%;
                text-align: center;
            }
            .jumbotron{
                background-image: url('Bootstrap Login/images/carmanage.png');
                background-size: 100%;
                height: 60%;
                background-repeat: no-repeat;
                background-position: center;
            }
        
        } */

        .assignBtnDiv{
            display: flex;
            justify-content: end;
        }


        @media screen and (max-width: 767px){
            .jumbotronhead{
                color:#efefef;
                font-size:2.3rem;
                font-weight: 700;
                margin-top: 25%;
                text-align: center;
            }
            .jumbotron{
                background-image: url('images/carmanage.png');
                background-size: 100%;
                height: 30%;
                background-repeat: no-repeat;
                background-position: center;
            }
            .tablehead{
            font-size: 12px;
            color: #FFD369;
            text-align: center;
            }
            .tdCarmanage{
                font-size: 10px;
            }
            .fas, .far {
                font-size: 10px;
                
            } 
            .tdCarmanage > *{
                margin-bottom: 5px;;
            }
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        //fOOTER
      footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #ffc249;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}