@charset "UTF-8";

        *{
            font-family: 'Manrope', sans-serif
        }
        
                li{
            list-style: none;
        }
        .navbar-links{
            text-decoration: none;
            color: #efefef;
            font-size: 1rem;
        }
        .navbar-links:hover{
            color: #ffc249;
        }

        header{
            position: relative;
            padding: 0 2rem;
        }
        .navbar{
            width: 100%;
            height: 60px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .navbar .logo a{
            font-size: 1.5rem;
            font-weight:bold;

        }
        .navbar .links{
            display: flex;
            gap: 2rem;
            margin: 0;
        }
        .navbar .toggle_btn{
            color: #efefef;
            font-size: 1.5rem;
            cursor: pointer;
            display: none;
        }
        .action_btn{
            color: #ffc249;

        }
        .action_btn:hover{
            scale:1.05;
            color:#efefef;
        }
        .action_btn:active{
            scale: 0.95;
        }
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* dropdown */
        .dropdown_menu{
            display: none;
            position:absolute;
            right: 2rem;
            top: 60px;
            width: 300px;
            height: 0;
            background: rgba(255,255,255, 0.1);
            backdrop-filter: blur(15px);
            border-radius: 20px;
            overflow: hidden;
            transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .dropdown_menu.open{
            height: 445px;
        }
        .dropdown_menu li{
            padding: 0.7rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .dropdown_menu .action_btn{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        /*  responsive */
        @media (max-width: 992px) {
            .navbar .links, .navbar .action_btn, .searchField{
                display: none;
            }

            .navbar .toggle_btn{
                display: block;
            }
            
            .dropdown_menu{
                display: block;
            }
        }
        @media (max-width: 576px){
            .dropdown_menu{
                left: 2rem;
                width: unset;
            }
        }
        
        
        
        
        .nav-item{
            color:#efefef;
            margin-right: 10px;
        }
        .nav-item:hover{
            color:#ffc249;
        }


        .headermain{
            background-image: url("ABC Cars.png");
            background-size: 100%;
            background-position: bottom;
            /* height: 95vh; */
            height: 91vh;
            display: flex;
            
            flex-direction: column;
            justify-content: space-between;
            background-repeat: no-repeat;
        }
        .headertext{
            margin-inline: auto;
            /* margin-bottom: 0;
            margin-top: 0; */
        }
        .headertexts{
            color: #efefef;
            font-size: 13rem;
            font-weight: 400;
        }
        .upperleft{
            color: #efefef;
            margin: 30px 0 0 30px;
        }
        .homeviewbtn{
            background-color: #ffc249;
            font-size: 1.25rem;
            font-weight:500;
            border-radius: 30px;
            padding: 10px 30px;
        }
        .saletext{
            font-size: 2rem;
        }

        .salecont{
            border: #0000;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 3%;
        }

        .salebtn{
            background-color: #ffc249;
            padding: 0.6rem 1.8125rem;
            font-size: 1.25rem;
            font-weight:500;
            border-radius: 1.8125rem;
        }

        .salebtn:hover{
            background-color: #393E46;
            color:#efefef;
        }

        .saletext2{
            font-size: 1.8125em;
        }
        .saletext1{
            font-size: 187.5%;
        }

        @media screen and (max-width: 767px){
            .saletext2{
                font-size: 20px;
                margin-inline: 20%;
            }
            .salebtn{
            background-color: #ffc249;
            padding: 10px 20px;
            font-size: 16px;
            font-weight:500;
            border-radius: 1.8125rem;
            }
            
            .headermain{
                background-image: url("ABC Cars.png");
            background-size: 100%;
            height: 250px;

            background-position: bottom;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-repeat: no-repeat;
            }
            .upperleft{
            color: #efefef;
            margin: 20px 0 0 5px;

            }
            .saletext1{
            font-size: 12px;
            display: none;

            }
            .homeviewbtn{
            background-color: #ffc249;
            font-size: 10px;
            font-weight:500;
            border-radius: 30px;
            padding: 3px 10px;
            display: none;

            }
        }
        @media screen and (max-width:1024px){
            .salebtn{
            background-color: #ffc249;
            padding: 10px 20px;
            font-size: 16px;
            font-weight:500;
            border-radius: 1.8125rem;
            }
            
            .headermain{
                background-image: url("ABC Cars.png");
            background-size: 100%;
            /* background-position: bottom; */
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-repeat: no-repeat;
            }
            .upperleft{
            color: #efefef;
            margin: 5px 0 0 5px;
            }
            .saletext1{
            font-size: 16px;
            margin-bottom: 10px;

            }
            .homeviewbtn{
            background-color: #ffc249;
            font-size: 12px;
            font-weight:500;
            border-radius: 30px;
            padding: 5px 20px;
            }
        }
        
        
        
                      //fOOTER
      footer {
	background: #101010;
	padding: 86px 0;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #ffc249;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}